<hr>
<div class="post_navi">
  {%- if page.previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">
    <div class="post_navi-arrow">&larr;</div>
    <div class="post_navi-label">Anterior</div>
    <div><span>{{ page.previous.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ '/archive.html' | relative_url }}" title="Archivo de Clases">
    <div class="post_navi-arrow">&larr;</div>
    <div class="post_navi-label">Volver al Archivo</div>
    <div><span>Ver todos los temas</span></div>
  </a>
  {%- endif -%}

  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">
    <div class="post_navi-arrow">&rarr;</div>
    <div class="post_navi-label">Siguiente</div>
    <div><span>{{ page.next.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ '/archive.html' | relative_url }}" title="Archivo de Clases">
    <div class="post_navi-arrow">&rarr;</div>
    <div class="post_navi-label">Volver al Archivo</div>
    <div><span>Ver todos los temas</span></div>
  </a>
  {%- endif -%}
</div>